.pos_page {
	background: url(../img/banner/background.png);
}
.pos_page_inner {
	background: #fff;
	margin: 0 -20px;
}
.header_area .container-fluid {
	padding-left: 0;
	padding-right: 0;
}


/* 2.1 header top css here*/
.switcher > ul,.header_links > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.switcher ul li{
    position: relative;
}
.header_top {
	padding: 0 20px;
	background: #ECECEC;
}
.switcher ul li a {
	font-size: 12px;
	height: 35px;
	color: #333333;
	display: block;
	line-height: 35px;
	font-weight: 400;
	width: 94px;
	text-align: center;
	cursor: pointer;
}
.switcher ul > li:hover > a.open{
    color: #fff;
}

.switcher ul > li:hover > a{
    background: #00bba6;
    color: #fff;
}
.header_links ul {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.header_links ul li a {
	padding: 7px 10px;
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	font-weight: 400;
}
.header_links ul li a:hover{
    color: #00bba6;
    text-decoration: underline;
}
